@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Font_03_Montserrat/') format('woff2'),
         url('../fonts/Font_03_Montserrat/MontserratLight.woff') format('woff'),
         url('../fonts/Font_03_Montserrat/MontserratLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Font_03_Montserrat/MontserratThin.woff2') format('woff2'),
         url('../fonts/Font_03_Montserrat/MontserratThin.woff') format('woff'),
         url('../fonts/Font_03_Montserrat/MontserratThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Font_04_Nunito/NunitoExtraLight.woff2') format('woff2'),
         url('../fonts/Font_04_Nunito/NunitoExtraLight.woff') format('woff'),
         url('../fonts/Font_04_Nunito/NunitoExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

:root{
    --orange: #FF9E58;
    --white: #F5F5F5;
    --gray: #2F2E2E;
    --gray-glass: #2F2E2ECC;
    --black: #1E1E1E;
    --gap:5px;
}

*{
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: column;
}

body{
    font-family: "Nunito", "Arial", serif;
    color: var(--white);
    
    background-color: var(--gray);
}

.section{
    margin-bottom: 60px;
    padding: 0 calc(var(--gap) * 3);
}

.container{
    margin: 0 0;
}

.title{
    display: inline;

    line-height: 1;

    margin: 0 auto;
    border-bottom: 1px solid var(--orange);
    
    text-align: center;
    font-family: 'Montserrat', "Arial", serif;
    font-weight: 100;
    color: var(--orange);
}

.txt{
    line-height: 1;
    
    text-align: justify;
    font-weight: 200;
}

.img{
    width: 180px;
    height: 180px;
    
    object-fit: cover;
}

.footer{
    padding: 0 calc(var(--gap) * 3);
}